<div class="container my-4">
  <h2>Details for Product ID: <%= @product_id %></h2>
  <h3>Located in: <%= @gl.upcase %></h3>

  <%= form_with(url: product_details_path(product_id: @product_id, gl: @gl), method: :get, local: true, class: 'mb-3') do |form| %>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <%= form.label :start_date, "Start Date:", class: "col-form-label" %>
        <%= form.date_field :start_date, max: Date.today.to_s, value: params[:start_date], class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= form.label :end_date, "End Date:", class: "col-form-label" %>
        <%= form.date_field :end_date, max: Date.today.to_s, value: params[:end_date], class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= form.submit "Filter", class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>

  <%= link_to 'Compare Prices', show_comparison_path(@product_id), class: 'btn btn-info' %>
  <%= button_tag 'Prophet Forecast', type: 'button', data: {controller: "forecast", action: "click->forecast#updateGraph", forecast_url_value: product_forecast_path(@product_id, @gl)},  class: 'btn btn-success' %>

  <%= button_tag 'LSTM Forecast', type: 'button', class: 'btn btn-secondary', onclick: "requestForecast('lstm')" %>
  <%= button_tag 'GRU Forecast', type: 'button', class: 'btn btn-secondary', onclick: "requestForecast('gru')" %>
  <%= button_tag 'SARIMAX Forecast', type: 'button', class: 'btn btn-secondary', onclick: "requestForecast('sarimax')" %>

  <%= line_chart @chart_data, xtitle: 'Date', ytitle: 'Average Price', id: 'price_chart', min: @min_chart_value, max: @max_chart_value %>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Price</th>
        <th>Link</th>
        <th>Source</th>
      </tr>
    </thead>
    <tbody>
      <% @search_results.each do |result| %>
        <tr>
          <td><%= result.date.strftime("%Y-%m-%d") %></td>
          <td><%= result.total_price %></td>
          <td><%= link_to 'Link', result.link if result.link.present? %></td>
          <td><%= result.json_data&.dig("merchant", "name") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  function requestForecast(method) {
    const url = `http://127.0.0.1:5000/predict/${method}`; 
    const historicalData = <%=@chart_data.to_json.html_safe%>; 

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest'
      },
      body: JSON.stringify({series: historicalData}),
      credentials: 'same-origin' 
    })
    .then(response => response.json())
    .then(forecastData => {
      console.log("Forecast data received:", forecastData);
      updateChart('price_chart', historicalData, forecastData);
    })
    .catch(error => console.error('Error:', error));
  }

function updateChart(chartId, historicalData, forecastData, min, max) {
    var chart = Chartkick.charts[chartId];
    if (chart) {
        
        let updatedData = [
            {name: "Historical", data: historicalData, color: "#3366CC"},
            {name: "Forecast", data: forecastData, color: "#D9534F"}
        ];
        chart.updateData(updatedData);
        chart.setOptions({min: min, max: max});
    } else {
        console.error("Chart not found: ", chartId);
    }
}

</script>

